body{
    font-family:PingFang SC,Lantinghei SC,Helvetica Neue,Helvetica,Arial,Microsoft YaHei,微软雅黑,STHeitiSC-Light,simsun,宋体,WenQuanYi Zen Hei,WenQuanYi Micro Hei,'sans-serif';
    font-size: 14px;
}
ul,
li{
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
a:hover{
    color: #1c6bb9;
}
a:focus{
    color:#1461ad;
    outline: none;
}
.pt20{
    padding-top:20px;
}
.plr40{
    padding-left: 40px;
    padding-right: 40px;
}
.pad40{
    padding: 60px;
}
.bg-white{
    background: #fff;
}
.container{
    min-width: 1200px;
}
/*舆情监测平台首页*/
.header{
    padding-top: 6px;
    height: 64px;
    background-color: rgba(34,44,58,0.7);
}
.header--fixed {
    position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    top: 0;
    padding-top: 6px;
    height: 64px;
    background-color: rgba(34,44,58,0.7);
}
.vertical-top .header--fixed{
    background-color: transparent;
}
@media print {
    .hide-from-print {
        display: none
    }
}
.animated {
    -webkit-animation-duration: .5s;
    -moz-animation-duration: .5s;
    -o-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes slideDown {
    0% {
        -webkit-transform: translateY(-4em)
    }

    100% {
        -webkit-transform: translateY(0)
    }
}

@-moz-keyframes slideDown {
    0% {
        -moz-transform: translateY(-4em)
    }

    100% {
        -moz-transform: translateY(0)
    }
}

@-o-keyframes slideDown {
    0% {
        -o-transform: translateY(-4em)
    }

    100% {
        -o-transform: translateY(0)
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-4em)
    }

    100% {
        transform: translateY(0)
    }
}

.animated.slideDown {
    -webkit-animation-name: slideDown;
    -moz-animation-name: slideDown;
    -o-animation-name: slideDown;
    animation-name: slideDown
}

@-webkit-keyframes slideUp {
    0% {
        -webkit-transform: translateY(0)
    }

    100% {
        -webkit-transform: translateY(-4em)
    }
}

@-moz-keyframes slideUp {
    0% {
        -moz-transform: translateY(0)
    }

    100% {
        -moz-transform: translateY(-4em)
    }
}

@-o-keyframes slideUp {
    0% {
        -o-transform: translateY(0)
    }

    100% {
        -o-transform: translateY(-4em)
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(0)
    }

    100% {
        transform: translateY(-4em)
    }
}

.animated.slideUp {
    -webkit-animation-name: slideUp;
    -moz-animation-name: slideUp;
    -o-animation-name: slideUp;
    animation-name: slideUp
}

@-webkit-keyframes swingInX {
    0% {
        -webkit-transform: perspective(400px) rotateX(-90deg)
    }

    100% {
        -webkit-transform: perspective(400px) rotateX(0deg)
    }
}

@-moz-keyframes swingInX {
    0% {
        -moz-transform: perspective(400px) rotateX(-90deg)
    }

    100% {
        -moz-transform: perspective(400px) rotateX(0deg)
    }
}

@-o-keyframes swingInX {
    0% {
        -o-transform: perspective(400px) rotateX(-90deg)
    }

    100% {
        -o-transform: perspective(400px) rotateX(0deg)
    }
}

@keyframes swingInX {
    0% {
        transform: perspective(400px) rotateX(-90deg)
    }

    100% {
        transform: perspective(400px) rotateX(0deg)
    }
}
#header .navbar-brand{
    font-size: 24px;
    color:#ffffff;
}

.header .navbar-header .logo{
    float: left;
}
.header  .navbar-nav>li>a{color:#e2e7ee;}
.header  .navbar-nav li a:hover,.header  .navbar-nav li a:focus{background:none;}
.header  .navbar-nav>li>a img{margin-top:-2px;}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{background:none;}
.head-bg{
    height:473px;
    background-image: url(../images/banner.png);
    background-position: center center;
    background-repeat: no-repeat;
}
.banner{
    margin-top: 45px;
}
.header-list .banner{
    margin-top: 0;
    padding-top: 119px;
}
.type-wrapper{
    position: absolute;
    padding-top: 15px;
    padding-bottom: 5px;
    left: 15px;
    right: 15px;
    top: 0;
    z-index: 9;
    width: 100%;
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: row;
    border-radius: 5px;
}
.type-wrapper:hover{background-color:rgba(60,63,82,0.7);}
.type-list-main {
    flex: 1;
    transition: all 1s;
    height: 38px;
    overflow: hidden;
}
.type-list-main.open{
    height: auto;
}
.type-list-right {
    width: 20px;
    margin-top: 3px;
}
.type-list li{float: none;display: inline-block;color:#ffffff;margin-bottom:10px;}
.type-list li .type{padding:8px 15px;border-radius:25px;cursor:pointer;display: block;}
.type-list li.active .type{background-color:#1e90ff;}
.type-list li .type:hover{background-color:#1e90ff;}
.type-wrapper .last-menu .arrow{display: block;height: 29px;text-decoration:none;line-height: 29px;text-align: center;font-size: 12px;color:#cccccc;background-color: #2f3343;border-radius: 3px;}
.arrow .glyphicon {
    line-height: 29px;
}
.silder{
    float: left;
    width: 1120px;
    height: 40px;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
}
.silder .uleft{
    position: absolute;
    left:0;
}
.silder .uleft>li{
    float: left;
    width: 186.6px;
    text-align: center;
    -webkit-transition:.5s all;
    -moz-transition:.5s all;
    -ms-transition:.5s all;
    -o-transition:.5s all;
}
.silder .uleft>li>a{
    padding: 10px;
    margin-left: 3px;
    margin-right: 3px;
    display: block;
    color: #ffffff;
    text-decoration: none;
}
.silder .uleft>li>a:hover,
.silder .uleft>li.active>a{
    background-color: #1e90ff;
    border-radius: 50px;
}
.uarrow{
    float: right;
    width: 23px;
    height:32px;
    line-height: 32px;
    text-align: center;
    font-size: 18px;
    color:#b3b5b6;
    background-color: #2f3343;
    border-radius: 3px;
}
.uarrow:hover,.uarrow:focus{
    text-decoration: none;
    color:#b3b5b6;
}
.banner>.container{
    position:relative;
}
.banner-content {
    position:absolute;
    top: 100px;
    left:0;
    right:0;
    width:100%;
    border-radius:5px;
    background-color:#ffffff;
    box-shadow:0 0 10px rgba(132,137,147,.15);
}
.banner-content>.row>.col-xs-3{
    border-right:1px solid #f2f2f2;
    padding-top:45px;
    padding-bottom:45px;
}
.banner-content>.row>.col-xs-3:last-child{border-right:none;}
.ring{position:absolute;left: 4px;top: 4px;width:120px;height:120px;margin: 0 auto 30px;border:8px solid rgba(0,0,0,0);border-radius:60px;text-align:center;color:#474e5d;}
.ring>.top-num{
    position:absolute;
    right:-26px;
    top:0;
    width:26px;
    height:26px;
    line-height:26px;
    border-radius:50px;
    text-align:center;
    color:#ffffff;
    font-size:12px;
    background-color:#f45428;
}
.ring .num{
    font-size:30px;
    margin-bottom:5px;
}

.indicatorContainerWrap{
    width:128px;height:128px;margin:0 auto;
    position:relative;
}
.ud-icom{display:inline-block;width:10px;height:10px;}
.ud-icom.up{background:url(../images/up.png) center center no-repeat;}
.ud-icom.down{background:url(../images/down.png) center center no-repeat;}
.ring.blue{
    /* border-color:#179bf3; */
    box-shadow: 0 0 21px rgba(23,155,243,.15);
}
.ring.blue .num{
    color:#179bf3;
    margin-top:30px;
}
.ring.red{box-shadow: 0 0 20px rgba(249, 92, 67, .15);}
.ring.red .num{
    color:#fc5e44;
    margin-top:30px;
}
.ring.orange{

    box-shadow:0 0 21px rgba(250,142,46,.15);
}
.ring.orange .num{
    color:#fd914a;
    margin-top:30px;
}
.ring.yellow{

    box-shadow:0 0 21px rgba(251,183,9,.3);
}
.ring.yellow .num{
    color:#fdcc02;
    margin-top:30px;
}
.ring-title{
    margin-bottom: 0px;
    margin-top:20px;
    color:#474e5d;
    font-size:14px;
    text-align:center;
}
.number-panel {
    text-align:center;
    color:#474e5d;
    font-size:12px;
    font-weight:400;
}
.number-panel:before,
.number-panel:after{
    display:table;
    content:" ";
}
.number-panel:after{
    clear:both;
}
.number-panel .num-panel{
    float:left;
    width:50%;
}
.number-value{
    width:100%;
    font-size:24px;
    margin-bottom:5px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.info-box{
    background:url(../images/info-bg.png) center center no-repeat;
    background-size:cover;
    padding-top:110px;
}

.info-content{
    width:1200px;
    margin:0 auto;
    min-height:300px;
}
#info-table thead th{
    background-color:red;
}
table.index-table td span.black{color:#333;}
table.index-table td span.red{color:#fc5e44;}
table.index-table td span.orange{color:#fd9047;}
table.index-table td span.yellow{color:#fdcc02;}
footer{
    padding-top: 30px;
    height:100px;
    background-color:#222c3a;
}
footer p{
    text-align:center;
    color:#b3b5b6;
    font-size:12px;
}
.head-wrapper{
    height:477px;
    background:url(../images/search-bg.png) center 0 no-repeat;
    background-size:cover;
}
.pressure-search{



}
.pressure-search .search-box{
    margin:0 auto;
    text-align:center;
    margin-top:150px;
}
.pressure-search .search-box h2{
    font-size:34px;
    color:#ffffff;
    margin-bottom:25px;
    margin-top:0;
}
.pressure-search .search-box input{
    width:600px;
    height:45px;
    border:none;
    padding-left:20px;
}
.search-box input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #999999;
}

.search-box input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #999999;
}

.search-box input:-ms-input-placeholder{
    color: #999999;
}

.search-box input::-webkit-input-placeholder{
    color: #999999;
}
.pressure-search .search-box button{
    width:90px;
    height:45px;
    background-color:#1e90ff;
    border:none;
    border-radius:0 4px 4px 0;
    vertical-align:top;
    color:#ffffff;
}
.evaluate{
    width:100%;
    min-height:200px;
}
.evaluate-data{
    width:1200px;
    margin:0 auto;
}
.evaluate-data .top-bar{
    margin-top:50px;
    margin-bottom:30px;
}
.evaluate-data .top-bar .title{
    font-size:16px;
    color:#323232;
    font-weight:bold;
}
.evaluate-data .top-bar .tool{
    text-align:right;
    display:inline-block;
    width:500px;
}
.evaluate-data .top-bar .tool>a{
    color:#333;
    margin-left:20px;

}
.evaluate-data .top-bar .tool a:hover,.evaluate-data .top-bar .tool a:focus{
    text-decoration:none;
    outline:none;
}
.datetimepicker{margin-top:60px;}
.evaluate-data .top-bar .tool .bootstrap-select{width:80px;}
.evaluate-data .top-bar .tool .bootstrap-select .btn{background-color:#fff;}
.evaluate-data .top-bar .tool .bootstrap-select .btn:focus{outline:none;}
.tool .bootstrap-select .dropdown-toggle:focus{outline:none !important;}
.btn-group.open .dropdown-toggle{box-shadow:none !important;}
.open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover{
    background-color:#f5f5f5;
}
.dropdown-toggle.btn-default.focus, .dropdown-toggle.btn-default:focus, .dropdown-toggle.btn-default:hover{
    background-color:#f5f5f5;
}
#beginTime,#endTime{width:73px;border:none;text-align:center;}
table.index-table button{width:72px;border-color:#ffffff;}
table.index-table button.btn:focus{outline:none !important;}
table.index-table button.view{ background:url(../images/view.png) 0 center no-repeat;}
table.index-table button.remove{ background:url(../images/remove.png) 0 center no-repeat;}
table.index-table span.analysis{display:inline-block;padding-left:20px;background:url(../images/analysis-over.png) 0 center no-repeat;}
table.index-table span.collect{display:inline-block;padding-left:20px;background:url(../images/collect.png) 0 center no-repeat;}
table.index-table span.submit{display:inline-block;padding-left:20px;background:url(../images/submit-over.png) 0 center no-repeat;}
/*风险评估单*/
.page,.page body,.page .section.page-wrapper{
    height:100%;
    overflow: hidden;
}
.page>body>.page-wrapper{
    display: none;
    -webkit-transition: all .6s ease-out;
    -moz-transition: all .6s ease-out;
    -ms-transition: all .6s ease-out;
    -o-transition: all .6s ease-out;
    transition: all .6s ease-out;
}
.page-wrapper {
    position: relative;
}
.vertical-top>.fp-tableCell,
.vertical-top>div{
    vertical-align:top;
}
#fp-nav.white ul li a span, .fp-slidesNav.white ul li a span{
    background-color: #ffffff;
}
#fp-nav ul li .fp-tooltip{
    color:#323232;
}
#fp-nav.white ul li .fp-tooltip{
    color:#ffffff;
}
#fp-nav ul li:last-child{
    display: none;
}
.remind-message-box+.container .panel-heading {
    padding-top: 100px;
}

.remind-message-box+.container .panel-heading span.big-text {
    top:40px;
}
.header-list{
    height: 358px;
    background-image: url("../images/banner2.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}

.posb-content {
    position: relative;
    width: 609px;
    height: 154px;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
    background-image: url("../images/box.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
}
.posb-content .company-name{
    position: absolute;
    top:-15px;
    width: 100%;
    color:#019cff;
    font-size: 20px;
    font-weight: bold;
}
.posb-content .doc-name {
    margin: 0;
    padding-top: 55px;
    font-size: 40px;
}
.posb-content .create-date {
    position:absolute;
    left:50%;
    bottom:-20px;
    margin-left:-71px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #0784d8;
    border-radius: 30px;
}
.remind-message-box {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    background-color: #f7f7f7;
    z-index: 2;
}
.remind-message-box .remind-message{
    margin:0;
    padding-top: 4px;
    padding-bottom: 8px;
    font-size:12px;
    color:#323232;
    color:rgba(50, 50, 50, .8);
}
.remind-message a{
    color:#fcc508;
    text-decoration: none;
}
.remind-message a:hover{
    color: rgba(232,197,100,1);
}
.remind-message .close-remind {
    margin-left: 15px;
    color: #999999;
    font-size: 20px;
}
.remind-message .close-remind:hover{
    color:#fcc508;
}
.model-statistics {
    width:100%;
    border-radius:5px;
    background-color:#ffffff;
    box-shadow: 0 15px 30px rgba(132,137,147,.1), 0 0 20px rgba(132,137,147,.1);
}
.model-statistics>.row>.col-xs-3{
    border-right:1px solid #f2f2f2;
    padding-top:45px;
    padding-bottom: 51px;
}
.model-statistics>.row>.col-xs-3:last-child{border-right:none;}
.panel-custom {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 0;
}

.panel-custom .panel-heading {
    position: relative;
    padding: 60px 0 67px;
}

.panel-custom .panel-title {
    height: 34px;
    vertical-align: middle;
    padding-left: 25px;
    font-size: 24px;
    color: #1b2235;
    font-weight: 600;
    z-index: 2;
}

a.circle {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin-left: 5px;
    line-height: 18px;
    text-align: center;
    font-size: 12px;
    border: 1px solid rgba(30,144,255,.8);
    color: rgba(30,144,255,.8);
    border-radius: 50%;
    vertical-align: middle;
}
a.help{
    text-decoration: none;
}
span.big-text {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    display: block;
    color: #1b2235;
    font-size: 100px;
    font-weight: bold;
    opacity: .1;
    filter: alpha(opacity=10);
}

.panel-custom .panel-body {
    padding: 0 0 65px;
}

.model-statistics .number-title {
    margin-top: 0;
    margin-bottom: 46px;
    color: #474e5d;
    font-size: 14px;
    font-weight: 400;
}

.model-statistics .number-title span {
    font-size: 16px;
}

.model-statistics .number-title img {
    margin-left: 15px;
    margin-right: 5px;
}

.model-statistics .number {
    width: 100%;
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
    font-size: 55px;
    font-weight: bold;
    overflow: hidden;
    text-shadow: 0 0 4px rgba(9,193,254,.48);
    text-overflow: ellipsis;
    white-space: nowrap;
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#00e1ff), to(#00a0e9));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.background-2{
    background-image: url("../images/background_2.png");
    background-repeat: no-repeat;
    background-position: center center;
}
.background-2 .panel-custom,
.background-4 .panel-custom
{
    background-color: transparent;
}
.charts{
    height: 500px;
}
.col-md-6 .charts{
    width:600px;
}
.btn-primary{
    background-color: #1e90ff;
    border:1px solid #e6e6e6;
    padding: 4px 20px;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:hover,
.btn-primary:active:focus{
    background-color: #1e90ff;
    border:1px solid #e6e6e6;
    padding: 4px 20px;
}
.btn-radius {border-radius: 50px;}

.btn-gradual{
    font-size: 13px;
    padding-left: 15px;
    padding-right: 15px;
    color: #323232;
    background-color: #f9f9f9;
    border: 1px solid #e6e6e6;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    outline:none !important;
}

.btn-transform,
.btn-transform:hover,
.btn-transform:active,
.btn-transform:visited,
.btn-transform:focus
{
    color:#ffffff;
    background-image:-webkit-linear-gradient(to right, #04bae2, #1996f3);
    background-image:-moz-linear-gradient(to right, #04bae2, #1996f3);
    background-image:-ms-linear-gradient(to right, #04bae2, #1996f3);
    background-image:-o-linear-gradient(to right, #04bae2, #1996f3);
    background-image:linear-gradient(to right,#04bae2,#1996f3);
    outline:none;
}
.bootstrap-select>.btn{
    padding: 6px 25px;
    background-color: #f5f5f5;
    border: 1px solid #e6e6e6;
    border-radius: 50px;
}
.bootstrap-select{
    margin-right:20px;
}
.panel-custom .bootstrap-select:last-child{
    margin-right: 0;
}
.bootstrap-select.btn-group .dropdown-toggle .caret{
    right: 18px;
}
.background-3{
    height: 77px;
    background-image: url("../images/background_3.png");
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}
.background-3 .type-wrapper{
    padding-top: 20px;
    padding-bottom: 20px;
    width: auto;
}
.background-3 .type-wrapper:hover{
    background-image: -webkit-linear-gradient(to right,#68a1f1,#6ac9f1);
    background-image: -moz-linear-gradient(to right,#68a1f1,#6ac9f1);
    background-image: -ms-linear-gradient(to right,#68a1f1,#6ac9f1);
    background-image: -o-linear-gradient(to right,#68a1f1,#6ac9f1);
    background-image: linear-gradient(to right,#68a1f1,#6ac9f1);
}
.background-3 .type-list li .type{
    border:1px solid transparent;
    transition: border-color .5s;
}
.background-3 .type-list li.active .type,
.background-3 .type-list li:hover .type {
    background-color: transparent;
    border-color: #ffffff;
}
.background-4{
    background-image: url("../images/background_4.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}
.background-4 .panel-custom .panel-heading {
    padding-bottom: 20px;
}
.background-4 .panel-custom .big-text{
    color:#dcc186;
}
.background-4 .panel-custom .panel-title{
    color:#dcc186;
}
.background-4 .panel-custom .panel-title>.circle{
    color:#dcc186;
    border-color:#dcc186;
}
.background-4 .panel-custom .panel-title>.circle:hover{
    color:#deab3b;
}
.background-4 .panel-custom .bootstrap-select>.btn{
    background-color: transparent !important;
    border-color:#474f50 !important;
    color:#cdced0;
}
.background-4 .panel-custom>.panel-body{
    padding-bottom: 28px;
}
.change-box.h500{
    height:500px;
    overflow:hidden;
}
.mt-50{
    margin-top: -20px;
}
.list-box>li{
    padding:10px 15px;
    border-top:1px solid transparent;
    transition:all .5s;
}
.list-box>li:hover,
.list-box>li:active,
.list-box>li.active{
    background-color:rgba(230, 230, 230, .37);
    border-top-color:rgba(71, 79, 80, .1);
}
.list-box>li>h3{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.list-box>li>h3>a{
    font-size:16px;
    color:#323232;
    text-decoration:none;
}
.list-box>li label{
    width:85px;
    color:#a5a5a5;
    font-size:12px;
    font-weight:400;
}
.list-box>li span{
    color:#323232;
    font-size:13px;
}
.list-box>li span.number{
    font-size:22px;
    color:#1e90ff;
}
.lyt-box {
    display: table;
    width: 100%;
}

.lyt-item {
    display: table-row;
}

.lyt {
    display:table-cell;
    padding:30px 0;
    color:#cdced0;
    font-size:12px;
    border-bottom: 1px solid #333c47;
}

.lyt.lyt-text-left {
    text-align: left;
}

.lyt .lyt-text-left-overflow {
    width: 620px;
    text-align: left;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    /* vertical-align: middle; */
}

.lyt.lyt-text-center {
    text-align: center;
}

.lyt.lyt-text-right {
    text-align: right;
}

.lyt .glyphicon {
    font-size: 16px;
    vertical-align: middle;
}
.w630{
    width: 630px;
}
.background-4 .btn-box{
    padding-top:26px;
}
.background-4 .btn-box .btn-drakgolden{
    padding-left:40px;
    padding-right:40px;
    border-color:#dcc186;
}
.btn-drakgolden,
.btn-drakgolden:hover,
.btn-drakgolden:active,
.btn-drakgolden:visited,
.btn-drakgolden:focus {
    color: #ffffff;
    background-image: -webkit-linear-gradient(to right, #dcc186, #c1923e);
    background-image: -moz-linear-gradient(to right, #dcc186, #c1923e);
    background-image: -ms-linear-gradient(to right, #dcc186, #c1923e);
    background-image: -o-linear-gradient(to right, #dcc186, #c1923e);
    background-image: linear-gradient(to right, #dcc186, #c1923e);
    outline: none;
}
.company-box .company-layout {
    background: -webkit-linear-gradient(left top, #04bae2 , #1996f3); /* Safari 5.1 - 6.0 */
    background: -moz-linear-gradient(bottom right, #04bae2, #1996f3); /* Opera 11.1 - 12.0 */
    background: -o-linear-gradient(bottom right, #04bae2, #1996f3); /* Firefox 3.6 - 15 */
    background: linear-gradient(to bottom right, #04bae2 , #1996f3); /* 标准的语法（必须放在最后） */
    border-radius: 6px;
}
.company-box .company-layout>li{
    padding: 26px 20px;
    color:#ffffff;
    border-bottom:1px solid #62c3fe;
    cursor:pointer;
    transition:all .5s;
}
.company-box .company-layout>li:last-child{
    border-bottom:none;
}

.company-box .company-layout>li:hover,
.company-box .company-layout>li:focus{
    box-shadow:0 5px 30px rgba(51, 51, 51, .2) inset;
}
.company-box .company-layout>li.active{
    background-color:#ffffff;
    color:#1e90ff;
    border: 1px solid rgba(230, 230, 230, .1);
    box-shadow: -5px 0 10px rgba(230,230,230,.3);
}
.company-box .company-layout .company-name{
    margin-bottom:15px;
    margin-top:0;
    font-size:14px;
    font-weight:400;
}
.company-box .company-layout .company-name+p{
    margin-bottom:0;
}
.company-box .company-layout .number-label{
    display:inline-block;
    font-size:14px;
    font-weight:400;
    margin-right:5px;
    margin-bottom:0;
}
.company-box .company-layout .number{
    font-size:22px;
    vertical-align: sub;
}
.lyt-news .lyt{
    padding-top: 25px;
    padding-bottom: 25px;
    color:#323232;
    border-bottom-color:#f5f5f5;
}
.lyt-news .lyt a{
    text-decoration: none;
    color:#323232;
}
.background-4 .lyt-box .lyt a{
    text-decoration: none;
    color:#cdced0;
}
.lyt-box .lyt a:hover{
    color: #1c6bb9;
}
.lyt-box .lyt a:focus{
    color:#1461ad;
    outline: none;
}
.lyt-news .lyt .lyt-text-left-overflow .number{
    display:inline-block;
    margin-right:10px;
    width:22px;
    height:22px;
    text-align:center;
    line-height:22px;
    font-size:16px;
    color:#323232;
    vertical-align: middle;
}
.lyt-news .lyt .lyt-text-left-overflow .number.active{
    color:#ffffff;
    background: -webkit-linear-gradient(left top, #04bae2 , #1996f3); /* Safari 5.1 - 6.0 */
    background: -moz-linear-gradient(bottom right, #04bae2, #1996f3); /* Opera 11.1 - 12.0 */
    background: -o-linear-gradient(bottom right, #04bae2, #1996f3); /* Firefox 3.6 - 15 */
    background: linear-gradient(to bottom right, #04bae2 , #1996f3); /* 标准的语法（必须放在最后） */
}
.lyt-news .lyt .details{
    padding-left:37px;
    margin-top:15px;
    margin-bottom:0;
}
.lyt-news .details span{
    display:inline-block;
    margin-right:15px;
}
.lyt-news .text-darkgray{
    font-size:12px;
    color:#8e99a8;
}
.lyt-news .details .text-gray,
.lyt-news .details .glyphicon{
    margin-right:2px;
    color:#cdced0;
}
.lyt-news .details .number{
    color:#1e90ff;
    font-size:14px;
    vertical-align:inherit;
}
.background-6 {
    background-image: url(../images/background_6.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}

.background-6 .panel-custom {
    background-color: transparent;
}
.slide-border-box {
    position: relative;
    border-right: 1px solid #e6e6e6;
}

.tab-hover li {
    padding-right: 68px;
    cursor:pointer;
}
.layout-box:before,
.layout-box:after{
    display:table;
    content:" ";
}
.layout-box:after{
    clear:both;
}

.layout-box {
    padding: 25px 0 25px 15px;
    border-bottom: 1px solid #e6e6e6;
}

.layout-box .layout {
    float: left;
}

.layout-box .layout+.layout{
    padding-left:13px;
}

.layout .author-name{
    width: 98px;
    margin-top:10px;
    margin-bottom:8px;
    font-size:14px;
    color:#323232;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all .5s;
}

.layout .eq-type{
    width:98px;
    font-size:12px;
    margin-bottom:0;
    color:#8e99a8;
}
.indicatorContainerWrap.min {
    width: 62px;
    height: 62px;
    margin: 0;
}

.indicatorContainerWrap.min .ring {
    left: 1px;
    top: 1px;
    width: 58px;
    height: 58px;
    margin: 0;
    border-radius: 50px;
    transition: all .5s;
}

.tab-hover li.current .layout>.author-name
{
    color:#f95c43;
}
.tab-hover li.change-red .layout>.author-name{
    color:#f95c43;
}
.tab-hover li.change-red .ring.red{
    box-shadow: 0 0 20px rgba(249, 92, 67, .45);
}
.slide-border-right {
    height: 59px;
    width: 2px;
    position: absolute;
    right: -1px;
    top: 25px;
    background-color: #fd3c1d;
    border-radius: 2px;
}
.change-box .lyt-box+.lyt-box{
    display: none;
}
.background-6 .lyt-box .lyt-item .lyt{
    border-bottom-color: rgb(230, 230, 230);
    border-bottom-color: rgba(230, 230, 230, .7);
}
.fp-auto-height,
.fp-auto-height .tableCell {
    height: auto !important;
}
/*异常企业指标预警*/
.header-wrapper.exceptionEnterpriseWarning{
    height:290px;
    background-image: url("../images/exceptionEnterpriseWarning.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.exceptionEnterpriseWarning .banner{
    color:#ffffff;
}
.exceptionEnterpriseWarning .banner .banner-title{
    opacity: .9;
    filter: alpha(opacity=90);
}
.exceptionEnterpriseWarning .banner .banner-title-en{
    opacity: .7;
    filter: alpha(opacity=70);
}
.page-wrapper.bgary{
    background-color: #f5f5f5;
}
.select-caption{
    padding-top:35px;
    padding-bottom:25px;
}
.table-box-gray .bootstrap-table .fixed-table-container .fixed-table-body .table thead th{
    background-color:#e3e7ea;
    border-bottom: none;
    border-left: none;
}
.table-box-gray .bootstrap-table .fixed-table-container tbody td{
    border-left:none;
    background-color: #ffffff;
}
.table-box-gray .bootstrap-table .table:not(.table-condensed),
.table-box-gray .bootstrap-table .table:not(.table-condensed)>tbody>tr>td,
.table-box-gray .bootstrap-table .table:not(.table-condensed)>tbody>tr>th,
.table-box-gray .bootstrap-table .table:not(.table-condensed)>tfoot>tr>td,
.table-box-gray .bootstrap-table .table:not(.table-condensed)>tfoot>tr>th,
.table-box-gray .bootstrap-table .table:not(.table-condensed)>thead>tr>td{
    padding: 15px;
}
.table-box-gray .bootstrap-table .table>tbody>tr:last-child>td{
    border-bottom:none;
}
/*生命周期*/
.panel.panel-blue-text{
    border:none;
}
.panel-blue-text .panel-heading {
    padding: 47px 44px 41px;
}
.panel-blue-text .panel-heading .panel-title{
    color:#323232;
    font-size:20px;
    padding-left:9px;
    border-left:4px solid #1e90ff;
}
.table-box-gray .fixed-table-container{
    border:none;
}
.bootstrap-table .table{
    border:none;
}
.transparent-head .bootstrap-table .fixed-table-container .fixed-table-body .table>thead>tr>th {
    background-color: transparent;
}
.transparent-head .bootstrap-table .fixed-table-container .fixed-table-body .table>tbody>tr>td{
    border-top:none;
}
.transparent-head .bootstrap-table .fixed-table-container .fixed-table-body .table>tbody>tr:nth-child(odd)>td{
    background-color:#f6f6f6;
}
/*舆情日志*/
.header-wrapper.darkBlue.warning-log{
    background-image: url("../images/warning_log_banner.jpg");
}
.search-box2{
    padding: 20px 0 15px;
}
.timeline{
    position:relative;
}
.timeline:before{
    position:absolute;
    left:8%;
    top:0;
    bottom:0;
    content: " ";
    margin-left: -0.5px;
    width: 1px;
    background-color: #e6e6e6;
}
.timeline>li{
    position:relative;
    margin-bottom: 20px;
}
.timeline>li:before,.timeline>li:after{
    content:" ";
    display:table;
}
.timeline>li:after{
    clear:both;
}
.timeline>li .timeline-outer {
    position: absolute;
    left:0;
    top:50%;
    margin-top:-10px;
    font-size: 13px;
}
.timeline>li .empty-circle{
    position:absolute;
    left:8%;
    top:50%;
    margin-top:-8px;
    margin-left:-9px;
    width:16px;
    height:16px;
    border:2px solid #e6e6e6;
    border-radius:16px;
    background-color:#ffffff;
    z-index:2;
}
.timeline>li .timeline-inner{
    position:relative;
    float: right;
    padding:20px;
    width: 88%;
    border:1px solid #e6e6e6;
    border-radius:4px;
}
.timeline>li .timeline-inner:before{
    content: " ";
    position: absolute;
    top: 50%;
    left: -15px;
    margin-top:-15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 0 solid #ffffff;
    border-right: 15px solid #ffffff;
    border-bottom: 15px solid transparent;
    z-index:2;
}
.timeline>li .timeline-inner:after{
    content: " ";
    position: absolute;
    top: 50%;
    left: -16px;
    margin-top:-16px;
    display: inline-block;
    border-top: 16px solid transparent;
    border-left: 0 solid #e6e6e6;
    border-right: 16px solid #e6e6e6;
    border-bottom: 16px solid transparent;
    z-index:1;
}
.timeline .timeline-inner .lyt-box .lyt.w160{
    width:160px;
}
.timeline .timeline-inner .lyt-box .lyt{
    padding: 0;
    font-size:14px;
    color:#373d41;
    border-bottom: none;
}
.timeline .timeline-inner .lyt-box .lyt p:last-child{
    margin-bottom:0;
}
.timeline>li.warning-red .empty-circle{
    border-color:#fc5e44;
}
.timeline>li.warning-red .timeline-outer{
    color:#fc5e44;
}
.timeline>li.warning-orange .empty-circle{
    border-color:#fd9047;
}
.timeline>li.warning-orange .timeline-outer{
    color:#fd9047;
}
.timeline>li.warning-yellow .empty-circle{
    border-color:#fdcc02;
}
.timeline>li.warning-yellow .timeline-outer{
    color:#fdcc02;
}
.edit-timeline{
    width:60px;
    vertical-align:middle
}
.edit-timeline a{
    text-decoration:none;
    color:#373d41;
}
.edit-timeline a:hover{
    color:#1c6bb9;
}
.edit-timeline a:focus{
    color:#1461ad;
}
.edit-timeline a .glyphicon{
    font-size:14px;
}
.pagination-box {
    text-align: center;
}
/*传播演化*/
.table-box-grayblue .fixed-table-body .table thead tr th {padding-top:16px;padding-bottom:14px;background-color: #f1f4fc;border-color:#ededed;}
.table-box-grayblue .fixed-table-body .table tbody tr td {padding-top:19px;padding-bottom:19px;border-color:#ededed;}
.table-box-grayblue .bootstrap-table .fixed-table-container {
    border-color: #ededed;
}
.blockModel {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius:3px;
}
.blockModel.blue{
    background-color:#4877f1;
    -webkit-box-shadow:0 0 5px rgba(72, 119, 241, .5);
    -moz-box-shadow:0 0 5px rgba(72, 119, 241, .5);
    -ms-box-shadow:0 0 5px rgba(72, 119, 241, .5);
    -o-box-shadow:0 0 5px rgba(72, 119, 241, .5);
    box-shadow:0 0 5px rgba(72, 119, 241, .5);
}
.blockModel.red{
    background-color:#fe7979;
    -webkit-box-shadow:0 0 5px rgba(254, 121, 121, .5);
    -moz-box-shadow:0 0 5px rgba(254, 121, 121, .5);
    -ms-box-shadow:0 0 5px rgba(254, 121, 121, .5);
    -o-box-shadow:0 0 5px rgba(254, 121, 121, .5);
    box-shadow:0 0 5px rgba(254, 121, 121, .5);
}
.blockModel.green{
    background-color:#27d786;
    -webkit-box-shadow:0 0 5px rgba(39, 215, 134, .5);
    -moz-box-shadow:0 0 5px rgba(39, 215, 134, .5);
    -ms-box-shadow:0 0 5px rgba(39, 215, 134, .5);
    -o-box-shadow:0 0 5px rgba(39, 215, 134, .5);
    box-shadow:0 0 5px rgba(39, 215, 134, .5);
}
.blockModel.yellow{
    background-color:#fea640;
    -webkit-box-shadow:0 0 5px rgba(254, 166, 64, .5);
    -moz-box-shadow:0 0 5px rgba(254, 166, 64, .5);
    -ms-box-shadow:0 0 5px rgba(254, 166, 64, .5);
    -o-box-shadow:0 0 5px rgba(254, 166, 64, .5);
    box-shadow:0 0 5px rgba(254, 166, 64, .5);
}
.blockModel.gray{
    background-color:#9092a5;
    -webkit-box-shadow:0 0 5px rgba(144, 146, 165, .5);
    -moz-box-shadow:0 0 5px rgba(144, 146, 165, .5);
    -ms-box-shadow:0 0 5px rgba(144, 146, 165, .5);
    -o-box-shadow:0 0 5px rgba(144, 146, 165, .5);
    box-shadow:0 0 5px rgba(144, 146, 165, .5);
}
.horizontal{
    padding:20px;
    overflow-y:auto;
/*     border-radius:15px;
    -webkit-box-shadow:5px 0px 15px #f2f2f2 inset, -15px 0px 15px #f2f2f2 inset;
    moz-box-shadow:5px 0px 15px #f2f2f2 inset, -15px 0px 15px #f2f2f2 inset;
    box-shadow:5px 0px 15px #f2f2f2 inset, -15px 0px 15px #f2f2f2 inset; */
}
.horizontal .timeline{
    position:relative;
    height:350px;
}
.horizontal .timeline:before{
    top:inherit;
    bottom: 70px;
    left:0;
    right:0;
    width: auto;
    height:14px;
    border-radius:7px;
    background-color:#f1f4fc;
}
.horizontal .timeline:after{
    display:table;
    content:" ";
}
.horizontal .timeline:after{
    clear:both;
}
.horizontal .timeline>li{
    float:left;
    width:160px;
    margin-right:45px;
    margin-bottom: 60px;
}
.horizontal .timeline>li .timeline-outer{
    position:absolute;
    top:inherit;
    left:50%;
    margin-left: -35px;
    bottom: -90px;
}
.horizontal .timeline>li .empty-circle{
    top:inherit;
    left:50%;
    bottom:-65px;
    margin-left: -20px;
    width:40px;
    height:40px;
    line-height:40px;
    color:#ffffff;
    font-size:12px;
    text-align:center;
    border:none;
    border-radius:20px;
}
.horizontal .timeline>li .timeline-inner{
    width:100%;
    height:230px;
    overflow-y:auto;
}
.horizontal .timeline>li .timeline-inner:before{
    top:inherit;
    bottom:-15px;
    left:50%;
    margin-left:-15px;
    border:none;
    border-left:15px solid transparent;
    border-right:15px solid transparent;
    border-top:15px solid #ffffff;;
}
.horizontal .timeline>li .timeline-inner:after{
    top:inherit;
    bottom:-16px;
    left:50%;
    margin-left:-16px;
    border:none;
    border-left:16px solid transparent;
    border-right:16px solid transparent;
    border-top:16px solid #e6e6e6;;
}
.transform-blue.horizontal .timeline>li .empty-circle{
    background: -webkit-linear-gradient(left top, #00d1ff , #1996f3); /* Safari 5.1 - 6.0 */
    background: -moz-linear-gradient(bottom right, #00d1ff, #1996f3); /* Opera 11.1 - 12.0 */
    background: -o-linear-gradient(bottom right, #00d1ff, #1996f3); /* Firefox 3.6 - 15 */
    background: linear-gradient(to bottom right, #00d1ff , #1996f3); /* 标准的语法（必须放在最后） */
}
.transform-orange.horizontal .timeline>li .empty-circle{
    background: -webkit-linear-gradient(left top, #f1883c , #fe3b1b); /* Safari 5.1 - 6.0 */
    background: -moz-linear-gradient(bottom right, #f1883c, #fe3b1b); /* Opera 11.1 - 12.0 */
    background: -o-linear-gradient(bottom right, #f1883c, #fe3b1b); /* Firefox 3.6 - 15 */
    background: linear-gradient(to bottom right, #f1883c , #fe3b1b); /* 标准的语法（必须放在最后） */
}
.news-site span{
    vertical-align:middle;
}
.news-site .dian{
    width:5px;
    height:5px;
    display:inline-block;
    margin-right:4px;
    border-radius:5px;
}
.transform-blue .news-site .dian{
    background-color:#0cb5f9;
}
.transform-orange .news-site .dian{
    background-color:#fd411e;
}
/*---------------------------------头部背景蓝色 高290     start-----------------------------*/
.header-wrapper.darkBlue{
    height: 290px;
    background-image: url("../images/banner3.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}

.header-wrapper.darkBlue .banner{
    margin-top: 62px;
}

.header.tall{
    height: 66px;
}

.header-wrapper.darkBlue .banner .posb-content{
    width: 456px;
    height: 102px;
}

.posb-content.down{
    background-image: url("../images/box-down.png");
}

.posb-content.down .com-name{
    font-size: 24px;
    font-weight: bold;
    padding-top: 28px;
}

.posb-content.down .page-name{
    font-size: 20px;
    position: absolute;
    bottom: -12px;
    left: 191px;
}
/*--------------------------------头部背景蓝色 高290        end------------------------------*/
.page-wrapper.gray{
    background: #f5f5f5;
    padding: 20px 30px 30px;
}
.article{
    margin: 20px auto;
    background: #fff;
    /* height: 199px; */
    padding: 35px 40px;
}

.article .title-box{
    position: relative;
}

.article .title-box .title{
    display: inline-block;
    font-size: 16px;
    color: #333;
    font-weight: bold;
    cursor: pointer;
    vertical-align: middle;
}

.article .title .source{
    font-size: 14px;
    color: #1e90ff;
}

.article .title-box .tag{
    position: absolute;
    right: 10px;
    top: 0px;
    color: #1e90ff;
    font-size: 13px;
}

.article .title-box .tag .select{
    display: inline-block;
    margin-left: 20px;
}
.title-box .tag .select .btn-group .btn{
    padding: 2px 12px 1px;
    border-radius: 3px;
}

.title-box .tag .select .btn-group .btn span{
    font-size: 13px;
    color: #8d989d;
    right: 6px;
}

.text-icon{
    display: inline-block;
    border: 1px solid;
    border-radius: 3px;
    font-size: 12px;
    padding: 1px 5px;
}

.text-icon.red{
    border-color: #fd191f;
}

.text-icon.red::before{
    content: '负面';
    color: #fd191f;
    font-style: normal;
}

.text-icon.blue{
    /*暂定  设计未出*/
    border-color: blue;
}

.text-icon.blue::before{
    content: '正面';
    font-style: normal;
}

.text-icon.gray{
    /*暂定 颜色未知*/
    border-color: #333;
}

.text-icon.gray::before{
    content: '灰色';
    font-style: normal;
}
.text-icon.golden{
    margin-right:5px;
    color:#dcc186;
    border-color:#dcc186;
}
.article-content{
    font-size: 13px;
    color: #8d989d;
    line-height: 28px;
    margin: 15px auto;
}

.article-info span{
    margin: auto 10px;
    color: #8d989d;
    font-size: 13px;
}

.article-info span:first-child{
    margin-left: 0px;
}

.yuqingView .search-box{
    margin: 10px auto;
}

.yuqingView .search-box .search-div{
    width: 270px;
    position: relative;
}

.yuqingView .search-box .search-div .search-icon{
    position: absolute;
    top: 10px;
    left: 10px;
    color: #8d989d;
    cursor: pointer;
}

.yuqingView .search-box .search-div .search-text{
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    padding-left: 28px;
}

.search-box .panel-custom .bootstrap-select>.btn{
    background: #fff !important;
}

.small-icon{
    background-repeat: no-repeat;
    padding: 1px 10px;
}

.small-icon.icon-fire{
    background-image: url("../images/icon-fire.png");
}

.small-icon.icon-carrier{
    background-image: url("../images/icon-carrier.png");
    padding: 0px 10px;
}

.small-icon.icon-tag {
    background-image: url("../images/icon-tag.png");
    padding: 1px 12px;
}


/*--------------------------------头部蓝色 高376  观点分析页面用到   start---------------------------------------*/
.header-wrapper.blue{
    height: 376px;
    background-image: url("../images/banner4.png");
}

.header-wrapper.blue .banner{
    margin-top: 70px;
    color: #fff;
}

.header-wrapper.blue .banner .title{
    font-size: 28px;
}

.header-wrapper.blue .banner .yuqingIndex{
    margin: 20px auto 30px;
}

.header-wrapper.blue .banner .item{
    display: inline-block;
    width: 122px;
    height: 40px;
    line-height: 40px;
    color:rgba(245, 245, 245, .70);
    background: #1964d3;
    cursor:pointer;
    transition:all .6s ease-out;
}

.header-wrapper.blue .banner .item:hover,
.header-wrapper.blue .banner .item:focus,
.header-wrapper.blue .banner .item.active{
    color:#f5f5f5;
    background: #1157c9;
}

.header-wrapper.blue .banner .icon{
    padding: 5px 15px;
    background-repeat:no-repeat;
}

.header-wrapper.blue .banner .icon.icon-time{
    background-image: url("../images/icon-time.png");
}

.header-wrapper.blue .banner .icon.icon-world{
    background-image: url("../images/icon-world.png");
}

.header-wrapper.blue .banner .icon.icon-data{
    background-image: url("../images/icon-data.png");
    padding: 3px 15px;
}

.pointAnalyze .compare-wrapper{
    padding: 0px 100px;
}

.pointAnalyze .compare-wrapper .top{
    padding: 40px 0px 30px;
}

.compare-wrapper .top .up-div, .compare-wrapper .top .down-div{
    width: 48px;
    height: 48px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.compare-wrapper .top .up-div{
    background-color: #0ea9ea;
    display: inline-block;
    cursor: pointer;
}

.compare-wrapper .top .down-div{
    background-color: #fc563a;
    cursor: pointer;
}

.compare-wrapper .top .glyphicon{
    color: #fff;
    top: 15px;
    left: 15px;
    font-size: 20px;
}

.compare-wrapper .top .number{
    font-size: 24px;
    color: #232323;
    margin: 0px;
}

.compare-wrapper .top .explain{
    font-size: 12px;
    color: #232323;
    margin: 0px;
}

.pointAnalyze .compare-wrapper .top .center{
    font-size: 36px;
    font-weight: bold;
    color: #1997f3;
}

.pointAnalyze .compare-wrapper .progress{
    background: #f5553c;
    height: 24px;
}

.pointAnalyze .compare-wrapper .progress .progress-bar{
    background: #08b3e5;
}

.pointAnalyze .compare-wrapper .summary{
    color: #8e99a8;
}

.pointAnalyze .summary .amount{
    color: #1997f3;
}

.pointAnalyze .content-wrap{
    margin-top: 20px;
    padding: 30px 100px;
}

.pointAnalyze .article-wrapper .positive-wrapper, .pointAnalyze .article-wrapper .negative-wrapper{
    border: 1px solid #e6e6e6;
    position: relative;
    vertical-align: top;
    height: 880px;
}

.pointAnalyze .article-wrapper .positive-wrapper .title{
    position: absolute;
    top: -16px;
    left: calc(50% - 40px);
    background: #fff;
    width: 100px;
    text-align: center;
    font-size: 20px;
    color: #1997f3;
    font-weight: bold;
}

.pointAnalyze .article-wrapper .positive-wrapper .title::before{
    content: '○';
    color: #e5e5e5;
    width: 6px;
    height: 6px;
    position: absolute;
    left: -3px;
    top: 0px;
}

.pointAnalyze .article-wrapper .positive-wrapper .title::after{
    content: '○';
    color: #e5e5e5;
    width: 6px;
    height: 6px;
    position: absolute;
    left: 90px;
    top: 0px;
}

.pointAnalyze .article-wrapper .negative-wrapper .title{
    position: absolute;
    top: -16px;
    left: calc(50% - 40px);
    background: #fff;
    width: 100px;
    text-align: center;
    font-size: 20px;
    color: #f5553c;
    font-weight: bold;
}

.pointAnalyze .article-wrapper .negative-wrapper .title::before{
    content: '○';
    color: #e5e5e5;
    width: 6px;
    height: 6px;
    position: absolute;
    left: -3px;
    top: 0px;
}

.pointAnalyze .article-wrapper .negative-wrapper .title::after{
    content: '○';
    color: #e5e5e5;
    width: 6px;
    height: 6px;
    position: absolute;
    left: 90px;
    top: 0px;
}

.pointAnalyze .wordCloud-wrapper{
    font-size: 0;
}

.pointAnalyze .article-wrapper{
    font-size: 0;
    position: relative;
    margin-top: 30px;
}

.pointAnalyze .positive-wrapper, .pointAnalyze .negative-wrapper,
.pointAnalyze .positive-list, .pointAnalyze .negative-list{
    display: inline-block;
    width: calc(50% - 70px);
}

.pointAnalyze .positive-list, .pointAnalyze .negative-list{
    padding: 0px 15px;
}

.pointAnalyze .content-wrap .space{
    display: inline-block;
    width: 100px;
    vertical-align: top;
    min-height: 1px;
}

.pointAnalyze .content-wrap .echarts-div{
    height: 350px;
}

.pointAnalyze .content-wrap .title-list{
    font-size: 0;
    color: #323232;
    position: absolute;
    top: 370px;
    left: 0px;
    overflow-y: auto;
    width: 100%;
    max-height: 485px;
}

.pointAnalyze .content-wrap .title-list ul li{
    font-size: 14px;
    line-height: 50px;
    list-style: square;
    list-style-type: square;
    list-style-position: inside;
    letter-spacing: 1px;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pointAnalyze .content-wrap .positive-list ul li{
    color: #1997f3;
}

.pointAnalyze .content-wrap .negative-list ul li{
    color: #f5553b;
}

.pointAnalyze .content-wrap .title-list ul li span{
    color: #323232;
}

.pointAnalyze .space .time-line{
    font-size: 13px;
    color: #323232;
    line-height: 50px;
    height: 540px;
}

.pointAnalyze .time-line p{
    margin: 0;
}

.pointAnalyze .time-line .today{
    color: #1997f3;
    font-weight: bold;
}
    /*--------------------------------头部蓝色 高376  观点分析页面用到   start---------------------------------------*/
/*--------------------------------头部浅蓝色 高617  预警设置-关键词页面用到 start-----------------------------------*/
.header-wrapper.lightBlue{
    background-image: url("../images/banner5.png");
    height: 617px;
}

.myCenter{
    background: #f5f5f5;
}

.myCenter .header-wrapper .banner{
    margin-top: 86px;
}

.myCenter .header-wrapper .nav-justified{
    width: 891px;
    margin:auto;
}

.myCenter .header-wrapper .nav-justified>li{
    padding: 0px 25px;
    height: 103px;
    position: relative;
}

.myCenter .header-wrapper .nav-justified>li.active a{
    background: #fff;
    color: #1e90ff;
    border: 2px solid #1e90ff;
}

.myCenter .header-wrapper .nav-justified>li a{
    height: 103px;
    background: #1e90ff;
    color: #fff;
    box-shadow: 2px 2px 2px #aebdc8; /*底边阴影*/
}

.triangle{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 13px solid #fff;
    position: absolute;
    left: 50%;
    margin-left: -7px;
    top: 100px;
    z-index: 999;
}

.triangle.triangle-border{
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 16px solid #1e90ff;
    z-index: 1;
    margin-left: -11px;
}

.myCenter .header-wrapper .classify-nav li:not(:first-child) .triangle{
    display: none;
}

.myCenter .icon{
     display: block;
     width: 30px;
     height: 30px;
     background-image: url("../images/icon-mycenter.png");
     background-repeat: no-repeat;
     margin: 9px 56px 9px;
}

.myCenter .icon.icon-bell{
    background-position: -48px -2px;
}

.myCenter .nav-justified li.active .icon.icon-bell{
    background-position: -48px -38px;
}

.myCenter .icon.icon-circle{
    background-position: 2px 0px;
}

.myCenter .nav-justified li.active .icon.icon-circle{
    background-position: 2px -38px;
}

.myCenter .icon.icon-classify{
    background-position: -99px 0px;
}

.myCenter .nav-justified li.active .icon.icon-classify{
    background-position: -99px -40px;
}

.myCenter .icon.icon-help{
    background-position: -151px 3px;
}

.myCenter .nav-justified li.active .icon.icon-help{
    background-position: -151px -39px;
}

.myCenter .page-wrapper .container{
    position: absolute;
    top: -260px;
    left: 50%;
    z-index: 9999;
    margin-left: -600px;
}

.myCenter .page-wrapper .container .content{
    min-height: 500px;
    background: #fff;
}

.myCenter .page-wrapper .nav-alert{
    padding-top: 20px;
}

.myCenter .page-wrapper .nav-alert li{
    float: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 20px;
}

.myCenter .page-wrapper .nav-alert li a{
    color: #323232;
    padding: 10px 5px;
}

.myCenter .page-wrapper .nav-alert li.active a{
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom: 2px solid #1996f3;
}

.myCenter .page-wrapper .alert-content{
    padding: 50px 50px 20px;
}

.myCenter .page-wrapper .alert-content h5{
    font-weight:bold;
    margin: 0px auto 20px;
}

.alert-icon{
    display: inline-block;
    width: 25px;
    height: 20px;
    vertical-align: middle;
    background-repeat:no-repeat;
}

.alert-icon.icon-bulb{
    background-image: url('../images/icon-bulb.png');
}

.alert-icon.icon-mail{
    background-image: url('../images/icon-mail.png');
}

.small-switch-box .text{
    vertical-align: middle;
}

.small-switch-box .switch-on,
.small-switch-box .switch-off{
    height: 22px;
    width: 45px;
    margin-left: 20px;
    vertical-align: middle;
}

.small-switch-box .switch-on .slider,
.small-switch-box .switch-off .slider{
    width: 20px;
    height: 20px;
}

.small-switch-box .switch-on .slider{
    left: 23px;
}

.panel-box{
    border: 1px solid #e6e6e6;
}

.panel-box.panel-group .panel{
    border: none;
    margin-top: 0px;
    border-top: 1px solid #e5e5e5;
    font-size: 13px;
    color: #323232;
}

.panel-box .panel-default>.panel-heading+.panel-collapse>.panel-body{
    border-top-color: #f6f6f6;
}

.panel-box .panel-title{
    font-size: 13px;
    color: #323232;
}

.panel-box .panel-title .delete{
    font-size: 13px;
    margin-left: 10px;
}

.panel-box .panel-title a:hover, .panel-box .panel-title a:active, .panel-box .panel-title a:visited{
    text-decoration: none;
    color: #323232;
}

.icon-arrow{
    background: url("../images/icon-arrow.png") no-repeat;
    background-position: 0px -40px;
    width: 12px;
    height: 12px;
    display: inline-block;
}

a.collapsed .icon-arrow{
    background-position: 0px 3px;
}

.myCenter .rule-select>.btn{
    background: #fff;
    font-size: 13px;
    color: #323232;
    padding: 4px 25px;
    margin-left: 15px;
}

.panel-box .panel-body .box{
    border: 1px solid #e5e5e5;
    margin-top: 22px;
    margin-bottom: 22px;
    padding: 20px 40px;
    position: relative;
}

.panel-body .box .red{
    color: #fc5e44;
    font-size: 14px;
}

.panel-body .box .orange{
    color: #fd9047;
    font-size: 14px;
}

.panel-body .box .yellow{
    color: #fdcc02;
    font-size: 14px;
}

.panel-body .box .circle{
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 2px solid;
    border-radius: 50%;
}

.panel-body .box .red .circle{
    border-color: #fc5e44;
    margin-right: 5px;
}

.panel-body .box .orange .circle{
    color: #fd9047;
    margin-right: 5px;
}

.panel-body .box .yellow .circle{
    color: #fdcc02;
    margin-right: 5px;
}

.panel-body .list-wrapper{
    height: 50px;
    margin-top: 20px;
    overflow: hidden;
    max-height: 150px;
}

.panel-body .box .list{
    width: calc(100% - 24px);
}

.panel-body .box .list li{
    display: inline-block;
    margin-right: 15px;
    line-height: 50px;
}

.box .list li .btn{
    border-radius: 14px;
    font-size: 13px;
    color: #323232;
    padding: 5px 16px;
    background: #f5f5f5;
    border: none;
}

.box .list li .btn:active{
    box-shadow: none !important;
}

.btn-white{
    background: #fff !important;
    border: 1px dashed #abd4fc !important;
}

.box .dot{
    position: absolute;
    top: 76px;
    right: 40px;
    font-weight: bolder;
    font-size: 18px;
    color: #a5a5a5;
    cursor: pointer;
    display: none;
    width: 24px;
}
.btn-circle{
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;;
}

.transition{
    transition: 0.5s;
    -moz-transition: 0.5s; /* Firefox 4 */
    -webkit-transition: 0.5s; /* Safari 和 Chrome */
    -o-transition: 0.5s; /* Opera */
}

.btn-cancel{
    background: #f5f5f5;
    padding: 4px 20px;
}

.btn-cancel:hover,
.btn-cancel:active,
.btn-cancel:focus,
.btn-cancel:active:hover,
.btn-cancel:active:focus{
    background-color: #f5f5f5;
    padding: 4px 20px;
}

.mr20{
    margin-right: 20px;
}

.keyword-alert-mode{
    margin-top: 48px;
}

.keyword-alert-mode .mode-content{
    padding: 0px 28px;
    color: #323232;
}

.mode-content .title{
    display: inline-block;
    width: 90px;
}

.mode-content .email-box{
    display: inline-block;
}

.checkbox-wrapper label{
    font-weight:normal;
}
/*--------------------------------头部浅蓝色 高617  预警设置-关键词页面用到 end-----------------------------------*/